body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #f8f4ff, #fce4ec);
}


h2 {
  color: #6a1b9a;
}

.container {
  max-width: 900px;
  margin: 40px auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

form {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

input, select {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  padding: 8px 12px;
  border: none;
  background: #8e24aa;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #6a1b9a;
}

table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

th {
  background: #8e24aa;
  color: white;
  padding: 10px;
}

td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

tr:hover {
  background: #f3e5f5;
}
